body{
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    background-color: rgb(194, 255, 233);
}

input, button{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div, .loggedin-div{
     width: 20%;
     margin: auto;
     margin-top: 25px;
     padding: 20px;
}

.main-div input{
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding:15px;
    outline:none;
    width: 100%;
    margin-bottom: 20px;
}

#doctor_add textarea {
    resize: none;
    font-family:'Nunito', sans-serif;  
    font-size: 16px;
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding:15px;
    outline:none;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
}

#details_pacient textarea, #modify_pacient textarea{
    resize: none;
    font-family:'Nunito', sans-serif;  
    font-size: 16px;
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding:10px;
    width: 30%;
    height: 7%;
    margin-left:auto;
    margin-right:auto;
}



#menu-span{
  width: 70%;
  position: relative;
   margin-left:410px;
}
#menu-span button{
    background: lightseagreen;
    color:#fff;
    padding: 10px;
    outline: none;
    width: 20%;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    margin-bottom: 20px;
    transition : 0.3s;

}
.main-div button, .loggedin-div button, .inner, #myTable button{
    background: lightseagreen;
    color:#fff;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    display: block;
    margin-bottom: 20px;
    transition : 0.3s;
  
}

#btn_update{
    background: lightseagreen;
    color:#fff;
    padding: 10px;
    outline: none;
    width: 15%;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    display: block;
    margin-bottom: 20px;
    transition : 0.3s;
    margin-left:auto;
    margin-right:auto;
}

.main-div button:hover,  .loggedin-div button:hover, .inner:hover, #menu-span button:hover, #myTable button:hover, #btn_update:hover{
    background: #c5aee5;
    color: black;
    border: 1px solid #781d7b;
}

.main-div input:focus{
    border: 2px solid gray;
}


.center, #table_pacient {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#myTable{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    color: black;
    border: 1px solid black;
}

#details_pacient, #modify_pacient{
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
}

select{
    background: lightseagreen;
    color:#fff;
    padding: 10px;
    outline: none;
    width: 15%;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    display: block;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

select:hover{
    background: #c5aee5;
    color: black;
    border: 1px solid #781d7b;
}

#outer
{
    width:100%;
    text-align: center;
}
