body{
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    background-color: rgb(194, 255, 233);
}

input, button{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div, .loggedin-div{
     width: 20%;
     margin: auto;
     margin-top: 25px;
     padding: 20px;
}

.main-div input{
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding:15px;
    outline:none;
    width: 100%;
    margin-bottom: 20px;
}

.main-div button, .loggedin-div button{
    background: lightseagreen;
    color:#fff;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightseagreen;
    display: block;
    margin-bottom: 20px;
    transition : 0.3s;
  
}

.main-div button:hover,  .loggedin-div button:hover{
    background: lightslategrey;
    color: black;
    border: 1px solid lightseagreen;
}

.main-div input:focus{
    border: 2px solid gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }